<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% inventorylist.each do |list| %>
    <tr>
      <td><%= Food.find(list.food_id).name %></td>
      <td><%= list.quantity %> <%= Food.find(list.food_id).measurement_unit %></td>
      <td>
      <%= button_to "Delete", inventory_inventory_food_path(list.inventory_id, list.id) , method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>