<div class="table-responsive mt-4">
  <div class="d-flex justify-content-end">
    <%= link_to "Add inventory", "inventories/new", class: "btn btn-success"%>
  </div>

<% @inventories.each do | inventory | %>
<li class="card mt-4 bg-light">
  <div class="card-body d-flex">
    <div class="text-center m-2">
      <h3 class="card-title">
        <%= link_to inventory.name, inventory_path(inventory.id), class:"text-decoration-none" %>
      </h3>
      <%= button_to "Remove", "inventories/#{inventory.id}" , method: :delete, class: "btn border-danger text-light bg-danger btn-sm" %>
    </div>
    <div>
      <p class="text-start card-text p-3"><%= inventory.description %></p>
    </div>
  </div>
</li>
<% end %>

  <div class="d-flex justify-content-center m-t 5">
    <p>
      <% if @inventories.empty? %>
        <h1 class="text-danger">There are no Inventories :(</h1>
      <% end %>
    </p>
</div>
</div>