
<div class="w-1/2 m-auto text-sm flex flex-col gap-8">
  <h1 class="text-4xl font-bold text-center"><%= @inventory.name %></h1>

  <div class="d-flex justify-content-between">
    <button type="button" class="self-end text-indigo-600 text-xs border-black border-2 py-2 px-4 btn btn-primary">
      <%= link_to "Back", inventories_path(), class:"text-white text-decoration-none"%>
    </button>
    <button type="button" class="self-end text-indigo-600 text-xs border-black border-2 py-2 px-4 btn btn-success">
      <%= link_to "Add Food", new_inventory_inventory_food_path(params[:id]), class:"text-white text-decoration-none"%>
    </button>
  </div>
</div>

<hr class="my-4 mx-auto h-1 w-1/2 rounded border-0 md:mb-10 md:mt-4 bg-black">


